body{
    background-color: black;
    color: aliceblue;
}
header > img{
    
    width: 500px;

    
}
nav > a{
    color: aliceblue;
    text-decoration: none;
    display: inline;
    text-align: right;
    
    
   }